.flex-container {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-family: mr_PotraLightG;
  background: #d5d5d3;
}

.flex-item{
  color:#fdd947;
      font-family: mr_PotraLightG;
      width: 300px;
      margin:-10 300;
      
    }
.flex-header{
  display: flex;
  flex-flow: row nowrap;
  width:100%; 
  background-color:#272727;
  margin: 0;
  padding: 10px;
  height:70px;
}

.flex-header-element{
  display: flex;
  flex-flow: row nowrap;
  margin: 0; 
}

.flex-nav {
  display: flex;
  flex-direction: column;
  margin: 0 auto; 
  width: 100%;
  background-color:#272727; 
  margin-top:20px; 
  padding:10px;
}

.flex-nav-element{
  margin: 0;
  color:#d5d5d3;
}

.flex-nav-element:hover{
  color:#fdd947;
}

.flex-footer{
  background-color:#272727;
  width:100%; 
  padding: 10px; 
  height:70px;
}

.flex-footer-element{
  margin-top: 30px;
  font-size: 40px;
}


.flex-items{
  display: flex;
  flex-direction: column;
}

.flex-items div{
  width: 100%;
  margin: 0 auto;
  margin-left: 10px;
}


table{
  border: 1px solid black;
  border-collapse: collapse;
}

td, th{
  border: 1px solid black;
  text-align: center;
}

.cell{
  background-color: #fdd947;
}

a{
  text-decoration-line: none;
  color:#272727;
}
a:hover {
  color: #272727;
}

@font-face {
      
  font-family: "mr_PotraLightG"; 
  src: url('19700.ttf'); 
  font-style: normal; 
  font-weight: normal; 
}
@media screen and (min-width: 800px) {
  .flex-item {
    width: 960px;
    margin: 0 auto; 
  }

  .flex-header{
    height:120px;
  }

  .flex-header-element{
    width: 960px;
    
    margin: 0 auto;
  }

  .flex-nav {
    width: 960px;
    flex-direction: row;
  }

  .flex-nav-element{
    margin: auto;
    
  }

  #img{
    margin:-50px; 
    width:250px; 
    height:200px; 
    
    
  }
  #name{
     
    padding: -10;
    font-size: 100px;

  }

  .flex-footer{
    height:120px;
  }
  
  .flex-footer-element{
    margin: 50px;
    font-size: 20px;
    color: #fdd947;
  }

  .flex-items{
    display: flex;
    flex-direction: column;
  }
  
  .flex-items div{
    width: 960px;
    margin: 0 auto;
  }
  

}